#keeping connections alive
Host *
    ServerAliveInterval 10
    ServerAliveCountMax 5
    IPQoS=throughput
    XAuthLocation /opt/X11/bin/xauth
    ForwardX11Trusted yes

Host spartan
    User                 mihall
    HostName             spartan.hpc.unimelb.edu.au
    PreferredAuthentications=publickey

Host bunya
    User                 uqmhal11
    HostName             bunya.rcc.uq.edu.au

Host marvin
    User                mihall
    HostName            marvin.mdu.unimelb.edu.au
    PreferredAuthentications=publickey

Host trillian
    User                mihall
    HostName            trillian.mdu.unimelb.edu.au
    PreferredAuthentications=publickey

Host zaphod
    User                mihall
    HostName            zaphod.mdu.unimelb.edu.au
    PreferredAuthentications=publickey

Host cedar
    User mbhall
    HostName cedar.computecanada.ca
    PreferredAuthentications publickey,keyboard-interactive

