#keeping connections alive
Host *
    ServerAliveInterval 10
    ServerAliveCountMax 5
    IPQoS=throughput
    XAuthLocation /opt/X11/bin/xauth
    ForwardX11Trusted yes

Host gate
    Hostname            ligate.ebi.ac.uk
    User                mbhall88
    IdentityFile        ~/.ssh/id_rsa
    PreferredAuthentications=publickey

Host codon-ext
    Hostname codon-login.ebi.ac.uk
    User mbhall88
    IdentityFile ~/.ssh/id_rsa
    ProxyJump gate
    ForwardX11Trusted yes
    StrictHostKeyChecking no
    PreferredAuthentications=publickey

Host codon-login
    User                mbhall88
    HostName            codon-login.ebi.ac.uk
    PreferredAuthentications=publickey

Host nectar
    User                mbhall
    HostName            45.113.234.196
    IdentityFile ~/.ssh/id_rsa
    PreferredAuthentications=publickey

Host spartan
    User                 mihall
    HostName             spartan.hpc.unimelb.edu.au
    PreferredAuthentications=publickey

Host marvin
    User                mihall
    HostName            marvin.mdu.unimelb.edu.au
    PreferredAuthentications=publickey

Host trillian
    User                mihall
    HostName            trillian.mdu.unimelb.edu.au
    PreferredAuthentications=publickey

Host zaphod
    User                mihall
    HostName            zaphod.mdu.unimelb.edu.au
    PreferredAuthentications=publickey

Host cedar
    User mbhall
    HostName cedar.computecanada.ca
    PreferredAuthentications publickey,keyboard-interactive

