#keeping connections alive
Host *
    ServerAliveInterval 300
    ServerAliveCountMax 2

Host gate
    Hostname            ligate.ebi.ac.uk
    User                mbhall88
    IdentityFile        ~/.ssh/id_rsa

Host codon-ext
    Hostname codon-login.ebi.ac.uk
    User mbhall88
    IdentityFile ~/.ssh/id_rsa
    ProxyJump gate
    ForwardX11Trusted yes

Host yoda-ext
    User                mbhall88
    HostName            yoda-login.ebi.ac.uk
    IdentityFile        ~/.ssh/id_rsa
    ProxyJump           gate
    ForwardX11Trusted   yes

Host noah-ext
    Hostname            noah-login.ebi.ac.uk
    User                mbhall88
    IdentityFile        ~/.ssh/id_rsa
    ProxyJump           gate
    ForwardX11Trusted   yes

Host noah
    User                mbhall88
    HostName            noah-login.ebi.ac.uk

Host yoda
    User                mbhall88
    HostName            yoda-login.ebi.ac.uk

Host codon-login
    User                mbhall88
    HostName            codon-login.ebi.ac.uk

Host awoonga
    User                uqmhal11
    HostName            awoonga.rcc.uq.edu.au

Host nectar
    User                michaelhall
    HostName            45.113.234.196

Host wiener
    ForwardAgent yes 
    ForwardX11 yes
    User                uqmhal11
    HostName            wiener.hpc.dc.uq.edu.au
