[global_config]
  always_split_with_profile = True
  enabled_plugins = ActivityWatch, TerminalShot, LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  inactive_color_offset = 0.75641025641
  title_font = JetBrains Mono 11
    title_inactive_bg_color = "#4C566A"
    title_inactive_fg_color = "#D8DEE9"
    title_receive_bg_color = "#8FBCBB"
    title_receive_fg_color = "#2E3440"
    title_transmit_bg_color = "#88C0D0"
    title_transmit_fg_color = "#2E3440"
  title_use_system_font = False
[keybindings]
  cycle_next = <Primary><Shift>Tab
  next_tab = <Primary>Tab
  split_horiz = <Primary><Shift>e
  split_vert = <Primary><Shift>d
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = nord
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#151515"
    cursor_blink = False
    cursor_color = "#f81ce5"
    cursor_color_fg = False
    font = Fira Code Regular 11
    foreground_color = "#a1b0b8"
    scrollback_lines = 10000
    split_to_group = True
    use_system_font = False
  [[JetBrains Darcula]]
    background_color = "#202020"
    cursor_blink = False
    cursor_color = "#ffffff"
    font = JetBrains Mono 11
    foreground_color = "#adadad"
    palette = "#000000:#fa5355:#126e00:#c2c300:#4581eb:#fa54ff:#33c2c1:#adadad:#555555:#fb7172:#67ff4f:#ffff00:#6d9df1:#fb82ff:#60d3d1:#eeeeee"
    scrollback_lines = 10000
    use_system_font = False
  [[MaterialDark]]
    background_color = "#232322"
    cursor_blink = False
    cursor_color = "#f81ce5"
    cursor_color_fg = False
    font = JetBrains Mono 11
    foreground_color = "#e5e5e5"
    palette = "#212121:#b7141f:#457b24:#f6981e:#134eb2:#560088:#0e717c:#efefef:#424242:#e83b3f:#7aba3a:#ffea2e:#54a4f3:#aa4dbc:#26bbd1:#d9d9d9"
    scrollback_lines = 10000
    use_system_font = False
  [[MaterialOcean]]
    background_color = "#0f111a"
    cursor_blink = False
    cursor_color = "#f81ce5"
    cursor_color_fg = False
    font = JetBrains Mono 11
    foreground_color = "#a1b0b8"
    palette = "#546e7a:#ff5370:#c3e88d:#ffcb6b:#82aaff:#c792ea:#89ddff:#ffffff:#546e7a:#ff5370:#c3e88d:#ffcb6b:#82aaff:#c792ea:#89ddff:#ffffff"
    scrollback_lines = 10000
    use_system_font = False
  [[nord]]
    background_color = "#2E3440"
    cursor_color = "#D8DEE9"
    cursor_color_fg = False
    foreground_color = "#D8DEE9"
    palette =    "#3B4252:#BF616A:#A3BE8C:#EBCB8B:#81A1C1:#B48EAD:#88C0D0:#E5E9F0:#4C566A:#BF616A:#A3BE8C:#EBCB8B:#81A1C1:#B48EAD:#8F  BCBB:#ECEFF4"
    scrollback_lines = 30000
    use_system_font = False
    font = JetBrains Mono 11
    cursor_blink = False
